%p= l(:body_parent_priority_was_changed, old_p: @old_p, new_p: @new_p)
%hr
%h1= link_to (l(:field_issue)+" " +@issue_title), issue_path(@issue, only_path: false)
%ul
  %li= l(:field_author) + ":#{User.where(id: @issue.author_id).first.name}"
  %li= l(:field_status) + ":#{IssueStatus.where(id: @issue.status_id).first.name}"
  %li= l(:field_priority) + ":#{IssuePriority.where(id: @issue.priority_id).first.name}"
  %li= l(:field_assigned_to) + ":#{User.where(id: @issue.assigned_to_id).first.name}"